// ====================================== Variables ======================================
    $dark_blue: #00093C;
    $orange: #F7941D;
    $white: #fff;
    $blue: #27AAE1;
    $tree_poppy: #ffc072;
    $golden_glow: #ffe38e;
    $tropical_blue: #c5ddff;
    $magic_mint: #b8efcf;
    $lavender_blush:  #ffeef6;
    $gray: #333333;
    $light_gray: rgba(0, 9, 60, .1);
    $black: #000;

//  ====================================== Mixins ======================================

// text

    @mixin title {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        color: $black;
    }
    
    @mixin text {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: $black;
        
    }
    
    @mixin text__button--dark {
        font-weight: 500;
        line-height: 26px;
        font-size: 14px;
        color: $black;
    }
    
    @mixin text__button--white {
        font-weight: 700;
        line-height: 26px;
        font-size: 14px;
        color: $white;
    }

// header dark theme

    @mixin dark{
        background-color: $dark_blue;
        color: white;
        .logo {
            display: none;
        }
        .logoDark {
            display: block;
        }
        .nav__text {
            color: white;
        }
        .menu__button {
            background-color: $white;
            &::before, &::after {
                background-color: $white;
            }
        }
    }